.container {
  display: flex;
  margin-left: -60px;
  padding: 10px 0;
  justify-content: flex-end;
}
.locationIcon {
    font-size: 22px;
    margin-left: 3px;
}

.content {
    display: flex;
}
.locationText {
    text-decoration: underline;
    margin-left: 4px;
}


